@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-tags fa-3x" style="color: red;"></i> <!-- Aktif Kategori -->
                <div class="ms-3">
                    <p class="mb-2" style="color: darkblue;">Aktif Kategori</p>
                    <h6 class="mb-0">@ViewBag.activeCategoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-users fa-3x" style="color: red;"></i> <!-- Aktif Personel -->
                <div class="ms-3">
                    <p class="mb-2" style="color: darkblue;">Aktif Personel</p>
                    <h6 class="mb-0">@ViewBag.activeEmployeeCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-building fa-3x" style="color: red;"></i> <!-- Daire İlan Sayısı -->
                <div class="ms-3">
                    <p class="mb-2" style="color: darkblue;">Daire İlan Sayısı</p>
                    <h6 class="mb-0">@ViewBag.apartmentCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-dollar-sign fa-3x" style="color: red;"></i> <!-- Ortalama Kira -->
                <div class="ms-3">
                    <p class="mb-2" style="color: darkblue;">Ortalama Kira</p>
                    <h6 class="mb-0">@ViewBag.AverageProductPriceByRent</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x" style="color: red;"></i> <!-- Ortalama Satış Fiyatı -->
                <div class="ms-3">
                    <p class="mb-2" style="color: darkblue;">Ortalama Satış F.</p>
                    <h6 class="mb-0">@ViewBag.averageProductPriceBySale</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-bed fa-3x" style="color: red;"></i> <!-- Ortalama Oda Adeti -->
                <div class="ms-3">
                    <p class="mb-2" style="color: darkblue;">Ortalama Oda</p>
                    <h6 class="mb-0">@ViewBag.AverageRoomCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-list fa-3x" style="color: red;"></i> <!-- Kategori Sayısı -->
                <div class="ms-3">
                    <p class="mb-2" style="color: darkblue;">Kategori Sayısı</p>
                    <h6 class="mb-0">@ViewBag.CategoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-cogs fa-3x" style="color: red;"></i> <!-- En İyi Kategori -->
                <div class="ms-3">
                    <p class="mb-2" style="color: darkblue;">En İyi Kategori</p>
                    <h6 class="mb-0">@ViewBag.categoryNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-map-marker-alt fa-3x" style="color: red;"></i> <!-- Max İlan Şehir -->
                <div class="ms-3">
                    <p class="mb-2" style="color: darkblue;">Max İlan Şehir</p>
                    <h6 class="mb-0">@ViewBag.cityNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-city fa-3x" style="color: red;"></i> <!-- Şehir Sayısı -->
                <div class="ms-3">
                    <p class="mb-2" style="color: darkblue;">Şehir Sayısı</p>
                    <h6 class="mb-0">@ViewBag.differentCityCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-trophy fa-3x" style="color: red;"></i> <!-- En İyi Personel -->
                <div class="ms-3">
                    <p class="mb-2" style="color: darkblue;">En İyi Personel</p>
                    <h6 class="mb-0">@ViewBag.employeeNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-car fa-3x" style="color: red;"></i> <!-- Son İlan Fiyatı -->
                <div class="ms-3">
                    <p class="mb-2" style="color: darkblue;">Son İlan Fiyatı</p>
                    <h6 class="mb-0">@ViewBag.lastProductPrice</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-calendar fa-3x" style="color: red;"></i> <!-- En Yeni Bina Yılı -->
                <div class="ms-3">
                    <p class="mb-2" style="color: darkblue;">En Yeni Bina Yılı</p>
                    <h6 class="mb-0">@ViewBag.newestBuildingYear</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-hourglass-start fa-3x" style="color: red;"></i> <!-- En Eski Bina -->
                <div class="ms-3">
                    <p class="mb-2" style="color: darkblue;">En Eski Bina</p>
                    <h6 class="mb-0">@ViewBag.oldestBuildingYear</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-bed fa-3x" style="color: red;"></i> <!-- Pasif Kategori -->
                <div class="ms-3">
                    <p class="mb-2" style="color: darkblue;">Pasif Kategori</p>
                    <h6 class="mb-0">@ViewBag.passiveCategoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-plane fa-3x" style="color: red;"></i>
                <div class="ms-3">
                    <p class="mb-2" style="color: darkblue;">Toplam İlan</p>
                    <h6 class="mb-0">@ViewBag.productCount</h6>
                </div>
            </div>
        </div>
    </div>
</div>
